@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("booking.com") {
  a.urgency_link{
    color:blue !important;
    display:none;
  }
  .lastbooking, .in-high-demand-not-scarce, .urgency_message_red, .only_x_left {
    color: #333 !important;
  }
  .fe_banner__soldout_property, .fe_banner__title, .fe_banner__message {
    background: #eee !important;
    color: #333 !important;
    border: none !important;;
    
  }
  
}
